{{- if and ( hasKey $.Values "ingress" ) ( or ( not ( hasKey $.Values.ingress "enabled" ) ) $.Values.ingress.enabled ) }}
{{- $fullName := include "common.fullname" ( dict "root" $ "service" $.Values ) }}
{{- if ( default ( dict ) $.Values.ingress.traefikMiddleware ) }}
{{- if or ( not ( hasKey $.Values.ingress.traefikMiddleware "enabled" ) ) $.Values.ingress.traefikMiddleware.enabled }}
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: {{ include "common.fullname" ( dict "root" $ "service" $.Values.ingress ) }}
  {{- include "common.metadata" ( dict "root" $ "service" $.Values.ingress ) | nindent 2 }}
spec: {{- $.Values.ingress.traefikMiddleware.spec | toYaml | nindent 2 }}
{{- end }}
{{- end }}
{{- end }}
